.sitetitle{
  padding-top: 4em;
  padding-bottom: 3em;
  text-align: center;
}

@font-face {
  font-family: 'GeosansLight';
  src: url('font/GeosansLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway-thin';
  src: url('font/Raleway Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'chogokubosogothic';
  src: url('font/chogokubosogothic.ttf') format('truetype');
}

@font-face {
  font-family: 'mplus-1c-light';
  src: url('font/mplus-1c-light.ttf') format('truetype');
}

body {
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

a{
  color: black;
}

h2{
  font-size: 30px;
}

input{
  font-size: 80%;
}



button{
  font-size: 60%
}

.Qu1{
  padding: 30px 30px;
}

.Qu2{
  padding: 30px 30px;
}

.ch1{
  padding: 10px 20px;
}
.ch2{
  padding: 10px 20px;
}
.pic img{
width: 700px;
height: auto;
padding-bottom: 1em;
opacity: 1;
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
vertical-align: bottom;
}

.pic a{
  display: block;
}

.imgArea{
  position: relative;
  width: 700px;
  height: auto;
  overflow: hidden;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.pic .location{
  position: absolute;
  width: 700px;
  height: 233.375px;
  line-height: 233.375px;
  top: 0;
  left: 0;
  font-family: 'GeosansLight';
  font-size: 23px;
  /* padding-bottom: 1em; */
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  text-align: center;
  vertical-align: bottom;
}
.pic:hover img {
  opacity: .3;
}

.location:hover{
  opacity: 1;
}

.content_ig{
  font-family: 'chogokubosogothic';
  font-size: 33px;
  margin-top: 5em;
  margin-bottom: 1em;
}

.content_me{
  font-family: 'chogokubosogothic';
  font-size: 20px;
  padding-top: 3em;
  padding-bottom: 2em;

}

.content{
  font-family: 'chogokubosogothic';
  font-size: 30px;
}

.content_back{
  font-family: 'chogokubosogothic';
  font-size:  35px;
  margin-bottom: 2em;
  text-align: center;
}

.content_qu{
  font-family: 'mplus-1c-light';
  font-size:  28px;
  margin-bottom: 2em;
  text-align: center;
}

.content a{
  text-decoration: none;
}

.content_back a{
  text-decoration: none;
}

.content_ig.delighter {
  transition: all 1.0s ease-out;
  transform: translateY(-100%);
  opacity: 0;
}


.content_ig.delighter.started {
  transform: none;
  opacity: 1;
}


.content.delighter {
  transition: all 1.0s ease-out;
  transform: translateY(-100%);
  opacity: 0;
}


.content.delighter.started {
  transform: none;
  opacity: 1;
}

.content_me.delighter {
  transition: all 1.0s ease-out;
  transform: translateY(-100%);
  opacity: 0;
}


.content_me.delighter.started {
  transform: none;
  opacity: 1;
}

.content_back.delighter {
  transition: all 1.0s ease-out;
  transform: translateY(-100%);
  opacity: 0;
}


.content_back.delighter.started {
  transform: none;
  opacity: 1;
}
